replicaCount: 2

image:
  repository: localhost:5001/simple-website
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  host: simple-website.local
  path: /
  pathType: Prefix

resources:
  requests:
    cpu: 50m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 64Mi
