apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "simple-website.fullname" . }}
  labels:
    {{- include "simple-website.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "simple-website.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "simple-website.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "simple-website.fullname" . }}
      containers:
        - name: dashboard
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
